@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
body {
    background-color: hsl(217, 54%, 11%);
    /* taille du viewport == body */
    height: 100vh;
    /* alignement de la card au milieu de l ecran */
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    /* COULEURS */
    --cyan: hsl(178, 100%, 50%);
    --softBlue: hsl(215, 51%, 70%);
    --veryDarkBlueMainBg: hsl(217, 54%, 11%);
    --veryDarkBlueCardBg: hsl(216, 50%, 16%);
    --veryDarkBlueLine: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    /* FONT */
    --fontOutfit: 'Outfit', sans-serif;
}

.card {
    background-color: var(--veryDarkBlueCardBg);
    width: 300px;
    color: var(--white);
    /* definition de la font size de base */
    font-size: 18px;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
    /* partie animation */
    position: relative;
    top: 0;
    transition: all .2s ease-in-out;
    /* partie animation */
    &
}

.card:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    top: -25px;
}

.card p,
.card h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
}

.card .card__header {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.card .card__header:hover .fa-eye {
    opacity: 1;
}

.card .card__header:hover .img__product {
    filter: blur(2px);
}

.card .card__header .img__product {
    width: 100%;
    height: auto;
    filter: blur(0);
    transition: all .2s ease;
}

.card .card__header .fa-eye {
    /* centrage de l icone */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 73px;
    height: 65px;
    font-size: 65px;
    opacity: 0;
    z-index: 1;
    transition: opacity .2s ease-in-out;
    transition-delay: .3s;
}

.card .card__content .card__content__header .card__title {
    font-size: 1.5rem;
    margin: 30px 0 20px;
    cursor: pointer;
}

.card .card__content .card__content__header .card__title:hover,
.card .card__content .creator .creator__name .name__author:hover {
    color: var(--cyan);
    cursor: pointer;
}

.card .card__content .card__content__header p {
    font-size: 1em;
    line-height: 1.4em;
    color: var(--softBlue);
    margin-bottom: 20px;
}

.card .card__content .card__informations {
    display: flex;
    justify-content: space-between;
}

.card .card__content .card__informations .price {
    color: var(--cyan);
    font-weight: 600;
}

.card .card__content .card__informations .price i,
.card .card__content .card__informations .time__left i {
    margin-right: 5px;
}

.card .card__content .card__informations {
    color: var(--softBlue);
}

.card .card__content .creator {
    border-top: 1px solid var(--veryDarkBlueLine);
    margin-top: 25px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.card .card__content .creator .creator__picture img {
    height: 30px;
    border: 2px solid var(--white);
    border-radius: 50%;
    /* margin-right: 15px; */
}

.card .card__content .creator .creator__name {
    color: var(--softBlue);
    font-size: 1em;
}

.card .card__content .creator .creator__name .name__author {
    color: var(--white);
}


/*-------------------------     MOBILE FIRST  ------------------------------------*/


/* smartphone */

@media screen and (min-width: 420px) {
    .card {}
}


/* tablette */

@media screen and (min-width: 768px) {
    .card {}
}


/* desktop */

@media screen and (min-width: 1440px) {
    .card {}
}